
x64/Release/SFML_Test.pdb
x64/Debug/SFML_Test.pdb
SFML_Test/x64/Release/vc143.pdb
SFML_Test/x64/Release/Shape.obj
.vs/SFML_Test/FileContentIndex/5f83ae2e-fa27-4e7a-927b-a0d650b12da0.vsidx
.vs/SFML_Test/FileContentIndex/7219e882-f433-42bc-985e-b1d559d804c3.vsidx
.vs/SFML_Test/FileContentIndex/c4cd868e-e62a-416a-a24c-911267fd52b3.vsidx
.vs/SFML_Test/FileContentIndex/ce12b785-0e61-43f4-a3f2-a06d3f6d80e3.vsidx
.vs/SFML_Test/FileContentIndex/faaa949b-afa1-42e6-867a-22f381f80483.vsidx
.vs/SFML_Test/v17/.suo
.vs/SFML_Test/v17/Browse.VC.db
.vs/SFML_Test/v17/DocumentLayout.json
.vs/SFML_Test/v17/ipch/AutoPCH/17ce7cc000daf367/CONFIGREADER.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/321807ee15d1f965/RSHAPE.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/4104aaa752d61615/SFML_TEST.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/563bc5a35c2613c2/CSHAPE.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/5ff9ad9e37f442c8/SFML_TEST.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/62e7df5b94a273c2/SFML_TEST.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/75ef8ae328057402/LOCALE0.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/78403a2fbaf5a517/SFML_TEST.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/7dd0ad503f285ee3/RSHAPE.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/7ddfd94f4e96477d/SETTINGS.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/82520aaf5226b5ad/SHAPE.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/94ab5a39de905e1a/GRAPHICS.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/c16aae7cba0a6fa/DELETE_SCALAR_SIZE.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/cdf9f223af083f2c/CSHAPE.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/db7f35f6c8086f1/CONFIGREADER.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/e2b67c1e90714d40/DELETE_SCALAR.ipch
.vs/SFML_Test/v17/ipch/AutoPCH/f5c6bffe6e3a96bb/SHAPE.ipch
SFML_Test/Debug/SFML_Test.Build.CppClean.log
SFML_Test/Debug/SFML_Test.log
SFML_Test/Debug/SFML_Test.tlog/CL.command.1.tlog
SFML_Test/Debug/SFML_Test.tlog/SFML_Test.lastbuildstate
SFML_Test/Debug/SFML_Test.tlog/unsuccessfulbuild
SFML_Test/Debug/SFML_Test.vcxproj.FileListAbsolute.txt
SFML_Test/Debug/vc143.idb
SFML_Test/Debug/vc143.pdb
SFML_Test/x64/Debug/configreader.obj
SFML_Test/x64/Debug/CShape.obj
SFML_Test/x64/Debug/RShape.obj
SFML_Test/x64/Debug/settings.obj
SFML_Test/x64/Debug/sfml_test.obj.enc
SFML_Test/x64/Debug/SFML_Test.obj
SFML_Test/x64/Debug/SFML_Test.log
SFML_Test/x64/Debug/SFML_Test.ilk
SFML_Test/x64/Debug/SFML_Test.exe.recipe
SFML_Test/x64/Debug/SFML_Test.tlog/CL.command.1.tlog
SFML_Test/x64/Debug/SFML_Test.tlog/Cl.items.tlog
SFML_Test/x64/Debug/SFML_Test.tlog/CL.read.1.tlog
SFML_Test/x64/Debug/SFML_Test.tlog/CL.write.1.tlog
SFML_Test/x64/Debug/SFML_Test.tlog/link.command.1.tlog
SFML_Test/x64/Debug/SFML_Test.tlog/link.read.1.tlog
SFML_Test/x64/Debug/SFML_Test.tlog/link.secondary.1.tlog
SFML_Test/x64/Debug/SFML_Test.tlog/link.write.1.tlog
SFML_Test/x64/Debug/SFML_Test.tlog/SFML_Test.lastbuildstate
*.obj
SFML_Test/x64/Release/SFML_Test.tlog/CL.command.1.tlog
SFML_Test/x64/Release/SFML_Test.tlog/Cl.items.tlog
SFML_Test/x64/Release/SFML_Test.tlog/CL.read.1.tlog
SFML_Test/x64/Release/SFML_Test.tlog/CL.write.1.tlog
SFML_Test/x64/Release/SFML_Test.tlog/link.command.1.tlog
SFML_Test/x64/Release/SFML_Test.tlog/link.read.1.tlog
SFML_Test/x64/Release/SFML_Test.tlog/link.secondary.1.tlog
SFML_Test/x64/Release/SFML_Test.tlog/link.write.1.tlog
SFML_Test/x64/Release/SFML_Test.tlog/SFML_Test.lastbuildstate
SFML_Test/x64/Release/SFML_Test.vcxproj.FileListAbsolute.txt
SFML_Test/x64/Release/SFML_Test.Build.CppClean.log
SFML_Test/x64/Release/SFML_Test.exe.recipe
SFML_Test/x64/Release/SFML_Test.iobj
SFML_Test/x64/Debug/shape.obj.enc
.vs/SFML_Test/v17/Solution.VC.db
*.vsidx
*.db-shm
*.db-wal
*.opendb
*.ipch
*.idb
*.pdb
*.idb
SFML_Test/x64/Debug/vc143.idb
SFML_Test/x64/Debug/vc143.pdb
